header{
	grid-template-columns: 15% 85%;
	margin-bottom: 10px;
}
header,header ul,footer{
	display: grid;
}
header img{
	width: 100%;
}
header ul{
	grid-template-columns: repeat(5, 1fr);
}
header,footer{
	background-color: #000;
}
/*footer styles */
footer{
	grid-template-columns: repeat(4, 1fr);
}
.white{
	color: #fff;
}
a{
	text-decoration: none;
	font-size: 18px;
}

/*banner styles */
.bannerBlock img{
	width: 100%;
	height: 600px;
}
.container{
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
}
.card1{
	display: grid;
	grid-template-columns: repeat(2 ,1fr);
}
.card2{
	display: grid;
	grid-template-columns: repeat(2 ,1fr); 
}
.card3{
	display: grid;
	grid-template-columns: repeat(2 ,1fr);
}
.card1 img{
	border-radius: 50%;
}
.para{
	padding-top: 50px;
}
.card2 img{
	border-radius: 50%;
}
.para{
	padding-top: 50px;
}
.card3 img{
	border-radius: 50%;
}
.para{
	padding-top: 50px;
}
.para{
	display: grid;
	grid-template-columns: repeat(2 ,1fr);
}

